RewriteEngine On

ErrorDocument 404 http://buildus.localhost/404

# Redirection Error 404 
RewriteRule ^404$ controllers/error404Controller.php

# Redirection Page d'accueil
RewriteRule ^accueil$ controllers/homeController.php
RewriteRule ^cgu$ controllers/cguController.php
RewriteRule ^confidentialite$ controllers/confidentialyController.php

# Redirection Page d'inscription / connexion / mot de passe oublié
RewriteRule ^inscription$ controllers/registrationController.php
RewriteRule ^connexion$ controllers/connexionController.php
RewriteRule ^reinitialiser$ controllers/resetPasswordController.php

# Redirection Tableau de bord
Rewriterule ^dashboard$ controllers/dashboard/dashboardController.php
Rewriterule ^dashboard/parametres controllers/dashboard/settingsController.php

# Redirection Page des employés
Rewriterule ^dashboard/clients controllers/dashboard/clientsListingController.php
Rewriterule ^dashboard/profil-client controllers/dashboard/clientProfilController.php
Rewriterule ^dashboard/client-modifie controllers/dashboard/clientModifyController.php

# Redirection Page des clients
Rewriterule ^dashboard/employes controllers/dashboard/employeesListingController.php
Rewriterule ^dashboard/profil-employe controllers/dashboard/employeeProfilController.php
Rewriterule ^dashboard/employe-modifie controllers/dashboard/clientModifyController.php

