RewriteEngine On

ErrorDocument 404 http://buildus.localhost/404

# Redirection Error 404 
RewriteRule ^404$ controllers/error404Controller.php

# Redirection Error 500
RewriteRule ^500$ controllers/error500Controller.php

# Redirection Page d'accueil
RewriteRule ^accueil$ controllers/homeController.php
RewriteRule ^cgu$ controllers/cguController.php
RewriteRule ^confidentialite$ controllers/confidentialyController.php
Rewriterule ^dashboard/deconnexion controllers/dashboard/deconnexionController.php

# Redirection Page d'inscription / connexion / mot de passe oublié
RewriteRule ^inscription$ controllers/registrationController.php
RewriteRule ^connexion$ controllers/connexionController.php
RewriteRule ^reinitialiser$ controllers/resetPasswordController.php

# Redirection Tableau de bord
Rewriterule ^dashboard$ controllers/dashboard/dashboardController.php
Rewriterule ^dashboard/parametres controllers/dashboard/settingsController.php

# Redirection Page des employés
Rewriterule ^dashboard/clients controllers/dashboard/clientsListingController.php
Rewriterule ^dashboard/profil-client controllers/dashboard/clientProfilController.php

# Redirection Page des clients
Rewriterule ^dashboard/employes controllers/dashboard/employeesListingController.php
Rewriterule ^dashboard/profil-employe controllers/dashboard/employeeProfilController.php

# Redirection Page du chiffre d'affaires
Rewriterule ^dashboard/business controllers/dashboard/incomeController.php

# Redirection Page des rappels
Rewriterule ^dashboard/rappels controllers/dashboard/todosController.php

# Redirection Page du calendrier
Rewriterule ^dashboard/calendrier controllers/dashboard/calendarController.php
