main {
    padding: 1rem 0rem;
}

h1 {
    padding: 0;
    padding-bottom: 1rem;
    width: 90%;
}

h2 {
    padding-top: 1rem;
    text-align: left;
    width: 90%;
}

h3 {
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
}

p {
    width: 90%;
}

.lawsPoints {
    padding-left: 1rem;
}
@media screen and (min-width: 1200px) {
    h1, h2, h3, p {
        width: 100%;
    }
}
