/* Back to home  */

.backToHome {
    position: relative;
    width: 100%;
    z-index: 2;
}

.backToHome a {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 100%;
    width: 50px;
}

.backToHome a i {
    font-size: 2rem;
    color: var(--black0);
}

/* Login container */

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/img/background/mobile/backgroundConnexion.svg') no-repeat;
    background-size: cover;
}

/* Login content */

.formContent {
    width: 350px;
    height: 250px;
    background: url('../assets/img/background/mobile/backgroundMobile.svg') no-repeat;
    background-color: var(--black0);
    border-radius: 10px;
    overflow: hidden;
}

/* Title */

.formContentTitle {
    height: 75px;
}

.formContentTitle h3 {
    text-align: center;
}

/* Form */

.formInput {
    height: 100px;
}

.formInput input {
    width: 90%;
    margin-bottom: .5rem;
    padding: .70rem .5em;
    border-radius: 5px;
    border: 2px solid var(--black40);
    color: var(--black100);
}

.formInput input::placeholder {
    color: var(--black80);
}

.formInput input:focus {
    outline: none;
    border: 2px solid var(--primary80);
}

.formInput p {
    font-size: .8rem;
    color: var(--black100);
}

.formInput p a{
    font-size: .8rem;
    color: var(--primary100);
}

/* Submit button */

.registerButton {
    height: 75px;
}

.registerButton button {
    width: 130px;
    padding: .75rem;
    text-align: center;
    background: linear-gradient(to right, var(--primary100), var(--primary80));
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    color: var(--black0);
}

.formContainer h4 {
    padding-top: 1rem;
}

.formContainer h4 a {
    font-weight: 500;
    color: var(--black0);
}

@media screen and (min-width: 577px) {
    .formContainer {
        background: url('../assets/img/background/desktop/backgroundConnexionDesktop.svg') no-repeat;
        background-position: center;
        background-size: cover;
    }
}





