main {
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar {
    width: 95%;
    height: 95%;
}

@media screen and (min-width: 1000px) {
    main {
        height: 100vh;
        width: calc(100vw - 200px);
    }
}
