main {
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar {
    width: 95%;
    height: 95%;
    transition: .3s ease;
}

/* Formulaire d'ajout d'événements */

.formContentCss {
    position: absolute;
    width: 300px;
    height: 350px;
    z-index: 2;
}

.formContainer {
    height: 100%;
    width: 100%;
    background-color: var(--black0);
    border-radius: 5px;
    border: 1px solid var(--hr);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContentTitle {
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formAddEvent {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label[for="allDay"] {
    margin-right: 1rem;
}

.formAddEvent:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerInput, .containerInputDate {
    height: 100%;
    width: 100%;
}

.formAddEvent:nth-child(2), .formAddEvent:nth-child(3) {
    margin-bottom: .5rem;
}

.titleLabel {
    margin-top: .25rem;
}

.containerButton {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addEventButton, .cancelButton {
    color: var(--black0);
    background-color: var(--primary80);
    padding: .5rem .5rem ;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 0px;
}

.addEventButton {
    margin-right: 1rem;
}

input[type="text"], input[type="datetime-local"] {
    width: 80%;
    border: 1px solid var(--hr);
    border-radius: 5px;
    padding: .5rem;
}

@media screen and (min-width: 1000px) {
    main {
        height: 100vh;
        width: calc(100vw - 200px);
    }
}

.hidden {
    display: none;
}