main {
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerRecap {
    width: 95%;
    height: 95%;
    background-color: var(--primary60);
    border-radius: 10px;
}

.containerTitle {
    width: 100%;
    height: 75px;
}

.titleColor {
    color: var(--black0);
}