main {
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm {
    width: 350px;
    height: 300px;
    background-color: var(--primary60);
    border-radius: 10px;
}

/* Title */

.formContentTitle {
    height: 75px;
}

.formContentTitle h3 {
    text-align: center;
    color: var(--black0);
}

/* Form */

.formInput {
    height: calc(300px - 150px);
}

.formInput input {
    width: 90%;
    padding: .70rem .5em;
    border-radius: 5px;
    border: 2px solid var(--black40);
    color: var(--black100);
}

.formInput input::placeholder {
    color: var(--black80);
}

.formInput input:focus {
    outline: none;
    border: 2px solid var(--primary80);
}

.formInput input:nth-child(7) {
    margin-bottom: .5rem;
}

.formName {
    width: 90%;
}

.formName input:first-child {
    width: 99%;
}

.formName input:last-child {
    width: 99%;
}

.formName .errorMessage {
    width: 99%;
}

/* Submit button */

.registerButton {
    height: 75px;
}

.registerButton button {
    padding: .75rem;
    text-align: center;
    background-color: var(--black0);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    color: var(--primary80);
}

@media screen and (min-width: 1000px) {
    main {
        height: 100vh;
        width: calc(100vw - 200px);
    }
}

.hidden {
    display: none;
}