/* Main container */

main {
    height: auto;
    width: 100vw;
}

/* Container Form */

.formContent {
    width: 95%;
    height: 100px;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    height: 100%;
    background-color: var(--primary60);
    border-radius: 10px;
}

form legend {
    color: var(--black0);
    height: 40px;
}

.containerForm {
    width: 90%;
    height: 50%;
}

.formTask {
    height: 80%;
    width: 70%;
    margin-right: .5rem;
}

.registerButton {
    height: 80%;
    width: 10%;
}

.formTask input {
    width: 100%;
    height: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--black40);
    color: var(--black100);
}

.formTask input::placeholder {
    color: var(--black80);
}

.formTask input:focus {
    outline: none;
    border: 2px solid var(--primary60);
}

.registerButton button {
    width: 100%;
    height: 100%;
    background-color: var(--black0);
    color: var(--primary60);
    font-size: 1.25rem;
    border: 0px;
    border-radius: 5px;
}

/* Container list tasks */

.containerTasks {
    width: 95%;
    height: 600px;
    overflow-y: scroll;
    background-color: var(--primary60);
    border-radius: 10px;
}

.containerNav {
    width: 90%;
    height: 65px;
    margin-bottom: .75rem;
}

.navTask {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navTask a {
    background-color: var(--black0);
    color: var(--primary60);
    padding: .5rem 1rem;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.containerListTasks {
    width: 90%;
    height: calc(100% - 90px);
}

.listingRecap {
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: .5rem;
    background-color: var(--hr);
    padding: 0rem .5rem;
}

.containerInformations {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerPicture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black0);
    margin-right: .5rem;
}

.containerPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hidden {
    display: none;
}